<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome Page">
    <meta name="author" content="Carebnb Team">
    <meta name="robots" content="index, follow">
    <title>Carebnb Onboarding</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="yam">
    <div class="container">
        <header>
            <img src="/images/Group 123.png" alt="Carebnb Logo" class="logo">
        </header>
        <main class="welcomeBanner">
            <div class="welcome-text">
                <h2>WELCOME</h2>
                <p>Find appropriate housing, We care about your shelter.</p>
            </div>
            <div class="button-container">
                  <a th:href="@{/signup/refugee}" class="to_create_page">Join as Refugee</a>
                  <a th:href="@{/signup/host}" class="to_create_page">Join as Host</a>
            </div>
        </main>
    </div>
</body>
</html>
