<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Login Page">
    <meta name="author" content="Carebnb Team">
    <meta name="robots" content="index, follow">
    <title>Login</title>
    <link rel="stylesheet" href="/css/sign.css">
</head>
<body>
<div class="container">
    <div class="form-section">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Login</h1>
        <form th:action="@{/api/v1/auth/login}" method = "post" id="signup-form">
            <input type="text" id="email" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Password">
            <button type="submit" class="create-button">Login</button>
        </form>
        <div class="register-link">
            <p>Don't have an account? <a th:href="@{/signup}">Register here</a></p>
        </div>
        <div th:if="${error != null}" class = "message">
            <p th:text="${error}"></p>
        </div>
        <div th:if="${fillRefugeeDetails != null}" class = "message">
            <p th:text="${error}"></p>
            <p><a th:href = "@{/get-started}" class = "fillRefugeeDetailsMessage">Fill Refugee Details</a></p>
        </div>
    </div>
    <div class="image-section">
        <img src="/images/Group 30.png" alt="Carebnb Image">
    </div>
</div>
</body>
</html>
