<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Properties</title>
    <link rel="stylesheet" href="/css/prop.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="profile-section">
                <div th:if="${hostName != null}">
                    <h3 th:text="${hostName}" class="user-name"></h3>
                </div>
                <div th:if="${hostName == null}">
                    <h3 class="user-name"></h3>
                </div>

            </div>
            <nav>
                <a th:href="@{/properties}"><span>🏠</span> Properties</a>
                <a th:href= "@{/clients}"><span>👥</span> Client</a>
                <a th:href="@{/host-settings}" class="active"><span>⚙️</span> Settings</a>
            </nav>
            <button class="logout-btn" style="margin-top: auto;">Log out</button>
        </aside>

        <main class="content">
            <header>
                <h1>My Properties</h1>
                <div class="header-buttons">
                    <a th:href="@{/create-listing}"><button id="add-property-button">+ Add new apartment</button></a>
                </div>
            </header>

            <div>
            <section id="properties-grid" th:if="${houseListings != null}" class="properties-grid" th:each="listing : ${houseListings}">
                <div class="property-card">
                    <img th:src="${listing.listingImages[0].imagePath}" alt="First Property" />
                    <h3 th:text="${listing.name}"></h3>
                    <div class="location">
                        <span class="candy-location-icon" style="background-color: #FF5A5F;"></span>
                        <p>[[${listing.address}]]</p>
                    </div>
                    <div class="actions">
                        <button class="details" style="color: #FF5A5F">View Details</button>
                    </div>
                </div>
            </section>
                <section id="no-properties" class="no-properties" th:if="${houseListings == null}">
                    <p>No properties uploaded yet.</p>
                </section>
            </div>

        </main>
    </div>

    <script src="/js/prop.js"></script>
</body>
</html>
