<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host Settings</title>
    <link rel="stylesheet" href="/css/set.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="profile-section">
                <label for="profilePictureInput">
                    <div class="profile-picture" id="profilePicture"></div>
                </label>
                <input type="file" id="profilePictureInput" style="display: none;">
                <h3 class="user-name" id="sidebar-name">Kemi Adewole</h3>
            </div>
            <nav>
                <a href="#" ><span>🏠</span> Properties</a>
                <a th:href= "@{/clients}" span>👥</span> Client</a>
                <a href="#" class="active"><span>⚙️</span> Settings</a>
            </nav>
            <button class="logout-btn" style="margin-top: auto;">Log out</button>
        </aside>

        <div class="main-content-wrapper">
            <main class="settings">
                <header>
                    <h2>Settings</h2>
                    <a th:href="@{/create-listing}"><button class="add-apartment">Add new apartment</button></a>
                </header>
                <form>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" id="name-input" value="Kemi Adewole" readonly>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" value="kemiadewole2@gmail.com" readonly>
                    </div>

                    <div class="toggle-container left-align">
                        <label>Booking Alerts</label>
                        <label class="switch">
                            <input type="checkbox" class="toggle" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>

                    <div class="toggle-container left-align">
                        <label>Cancellation Alerts</label>
                        <label class="switch">
                            <input type="checkbox" class="toggle" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                </form>
            </main>
        </div>
    </div>

    <script src="/js/set.js"></script>
</body>
</html>
