<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carebnb Success Popup</title>
    <link rel="stylesheet" href="/css/suc.css">
</head>
<body>

    <div class="carebnb-popup-container" id="carebnbSuccessPopup"> 
        <div class="carebnb-popup">
            <div class="carebnb-success-icon">
                <img src="/images/Group 125.png" alt="">
            </div>
            <br>
            <br>
            <h2>Success</h2>
            <p>Check your email for a booking confirmation. We'll see you soon.</p>
            <button class="carebnb-ok-button" onclick="closeCarebnbPopup()">OK</button>
        </div>
    </div>

    <script src="/js/suc.js"></script>

</body>
</html>